* {
    box-sizing: border-box;
}


html {
    height: 100%;
    width: 100%;
}


body {
    text-align: center;
    font-family: 'Libre Franklin';
    font-style: normal;
}


header {
    margin: 50px auto 20px;
}


h2 {
    font-weight: 300;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #969696;
}


span {
    font-weight: 800;
    color: #000000;
}


input {
    background: #FFFFFF;
    border: 1px solid #C2D3FF;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.0001);
    border-radius: 28px;
    height: 56px;
    width: 421px;
    margin-right: 5px;
    margin-top: 20px;
}


input::placeholder {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #B8C7ED;
    padding-left: 20px;
}


button {
     background: #4C7BF3;
    box-shadow: 0px 5px 10px 2px rgba(76, 123, 243, 0.230414);
    border-radius: 28px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    border: 0;
    width: 200px;
    height: 56px;
    cursor: pointer;
}


.chart-img {
    margin: 30px;
    width: 567.23px;
}


p {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #15202A;
}


footer {
    position: absolute;
    width: 204px;
    height: 71px;
    left: 618px;
    top: 904px;
    height: 71px;
    width: 204px;
    left: 618px;
    top: 904px;
    border-radius: 0px;    
}


#socialmedia {
    text-align: center; 
    position: absolute;
    width: 120px;
    height: 31px;
    left: 42px;
    top: 0px;
}


#lasttext {
    text-align: center;
    position: absolute;
    height: 15px;
    left: 0%;
    right: 0.49%;
    top: calc(50% - 15px/2 + 28px);
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #969696;
}